<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Update Articles</title>
   <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
   
</body>
</html>

<div class="container">
   <h1 style="text-align: center;color: aqua;margin-top: 50px;">Update Articles</h1>
<form  action="/articles/update/<%= article.id %>" method="post" >

<div class="form-group row">
   <div class="form-group">

    

      <label  for="smartphone" class="form-label mt-4">Tittle</label>
      <% if (error && error.path == "title") { %>
         <div class="alert alert-danger">
            <%= error.message %> 
         </div>  
      <% } %>
      <input name="title"  type="text" class="form-control" id="Smartphone" value="<%= article.title %>" aria-describedby="emailHelp" placeholder="Add Smartphone">
     
      <label for="description" class="form-label mt-4">Url</label>
      <% if (error && error.path == "url") { %>
         <div class="alert alert-danger">
            <%= error.message %> 
         </div>  
      <% } %>
      <input name="url" type="text" class="form-control" id="Description" value="<%= article.url %>" aria-describedby="emailHelp" placeholder="Description">
    
      <label for="category_id" class="form-label mt-4">content</label>
      <% if (error && error.path == "content") { %>
         <div class="alert alert-danger">
            <%= error.message %> 
         </div>  
      <% } %>
      <input name="content" type="text" class="form-control" id="category_id" value="<%= article.content %>" aria-describedby="emailHelp" placeholder="">
  
      <label for="category_id" class="form-label mt-4">categorie_id</label>
      <% if (error && error.path == "categorie_id") { %>
         <div class="alert alert-danger">
            <%= error.message %> 
         </div>  
      <% } %>
      <!-- <input name="categorie_id" type="number" class="form-control" id="category_id" value="<%= article.categorie_id %>" aria-describedby="emailHelp" placeholder=""> -->
      <select class="form-select" aria-label="Default select example" name="categorie_id" >
         <% categories.forEach(function(categorie){ %>
            <option value="<%= categorie.id %>"><%= categorie.label %></option>   
            <% }); %>
       </select>

   </div>
   
 </div>
 <button type="submit" class="btn btn-success ; my-3" >Update</button>
 
</form>
</div>